.ext-extensionManager-disabled .ext-extensionManager-box-status-enabled {
	color: #ccc;
}

.ext-extensionManager-missing .ext-extensionManager-box-status-available {
	color: #f95151; /* red */
}

.ext-extensionManager-available .ext-extensionManager-box-status-available,
.ext-extensionManager-enabled .ext-extensionManager-box-status-enabled {
	color: #5bff5b; /* green */
	font-weight: bold;
}


.ext-extensionManager-heart {
	color: #f15353;
}
.ext-extensionManager-credits {
	margin-top: 2em;
}

.col_250{
	width: 250px;
}
.col_100{
	width: 150px;
	padding-left: 50px !important;
}